* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* #carouselExampleControls  */

body {
  font-family: inter;
  font-weight: 400;
}
img{
  width: 100%;
  height: auto;
}
/* utility classes starts from here */
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-ExtraLight.ttf);
  font-weight: 100;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-Thin.ttf);
  font-weight: 300;
}

@font-face {
  font-family: inter;
  src: url(Fonts/Inter-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-ExtraBold.ttf);
  font-weight: 800;
} 

.fw-200 {
  font-weight: 200;
}
.blue-background {
  background: url(imgs/Gradient.png);
  background-repeat: round;
}
.hero-poster-mobile {
  background: url(imgs/Frame\ 5.png);
  background-size: cover;
  background-position: bottom;
}
.light-green-background {
  background-color: #f6faff;
}
.gap-6 {
  gap: 2.75rem;
}
span {
  display: inline-block;
  line-height: normal;
}
.wrap{
  flex-wrap:wrap;
}
.mw-260 {
  max-width: 261px;
}
.mw-300 {
  max-width: 300px;
}
.mw-500 {
  max-width: 500px;
}
.fs-14 {
  font-size: 14px;
}
.fsw-14 {
  font-size: 14px;
  font-weight: 700;
}
.fs-24 {
  font-size: 1.5rem;
  font-weight: 600;
}
.fs-20 {
  font-size: 20px;
}
.fsw-20{
  font-size: 20px;
  font-weight: 600;
}
.fs-18 {
  font-size: 18px;
  font-weight: 500;
}
.ml-2 {
  margin-left: 2rem;
}
.mb-8{
  margin-bottom: 8px;
}
.py-05 {
  padding-top: 6rem;
  padding-bottom: 10rem;
}
.align-center {
  align-items: center;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
/* Utility Classes Ends Here */
.main-logo {
  width: 160px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-item {
  padding: 4px 0;
}
.btn {
  padding: 0.9rem 1.5rem;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 20px 0px #036;
}
.heading {
  position: relative;
}
.heading::before {
  content: "";
  position: absolute;
  top: 2.4rem;
  height: 10px;
  width: 60px;
  background-color: #185594;
  border-radius: 1rem;
}
.heading > h2 {
  font-size: 20px;
  font-weight: 600;
}
.heading > span {
  font-size: 16px;
  font-weight: 500;
}
.sec1-icon {
  width: 60px;
  height: 59px;
}
.text-pair > p {
  font-size: 10px;
  font-weight: 500;
  color: #2743d9;
}
.btn-see-more {
  box-shadow: 0px 0px 5px 0px #036;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  color: #2743d9;
  text-transform: uppercase;
}
.btn-see-more:hover {
  background-color: #036;
  border: none;
  color: white;
}
.tiles {
  background-color: white;
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  border-radius: 1rem;
  margin: 1.5rem 0;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
}
.tiles:hover {
  cursor: pointer;
  background-color: #185594;
  color: white;
  transition: all 0.5s;
}
.dispaly-none {
  display: none;
}
.tiles-wraper {
  background: url(imgs/Doted-Bars-2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 1rem 0;
}
.technology-heading{
    max-width: 516px;
    align-items: center;
    margin: 3rem auto 1rem auto;
}
.technology-heading div label{
  font-size: 14px;
 margin: 0 5px;
}
.technology-heading label{
   position: relative;
   cursor: pointer;
}
.technology-heading label::before{
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #185594;
  border-radius: 1rem;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s linear;
}
#frontend:checked+ label::before{
transform-origin: bottom right;
transform: scaleX(1);
}

.technology-heading label::after{
  content: "";
  position: absolute;
  top: 1.5rem;
  right: 0;

  height: 10px;
  width: 100%;
  background-color: #185594;
  border-radius: 1rem;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.25s linear;
}
#backend:checked+ label::after{
  transform-origin: bottom left;
transform: scaleX(1);
  }
   .t-logos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
   }
  .icons { 
    display: flex;
    flex-direction: column;
    align-items: center;
   & h4{
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
  } 
}
.carousel-item img { 
  aspect-ratio: 2/1;
  object-fit: cover;
}

.carousel-content{
  position: absolute;
  color: white;
  bottom: 0;
  padding: 0 1rem;

  & h3{
    font-size: 14px;
    font-weight: 500;
  }
  & p{
    font-size: 12px;
    font-weight: 200;
    line-height: 1;
    text-transform: lowercase;
    margin-bottom: 5px;
  }
  & span::first-letter{
    text-transform: capitalize;
  }
  
}
.testimonial-item img{
  border-radius: 16px;
  height: 200px;
  
}
.card-content{
position: absolute;
top: 0;
color: white;
padding: 1rem;
margin-top: 1rem;
& h3{
  font-size: 12px;
  font-weight: 500;
  width: 50%;
}
& h3 span{
  font-size: 12px;
  font-weight: 100;
  
}
& p{
  font-size: 12px;
  font-weight: 100;
  line-height: 1;
  text-transform: lowercase;
  width: 50%;
}
& p span{
  display: none;
 }
& p .content-extension{
display: none;
}
}
.qoute{
  position: absolute;
  bottom: -5px;
   width: 40px;
   right: 2rem;
}
.card-btns{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  position: absolute;
  bottom: 1rem;
  & span{
   cursor: pointer;
  }

}
footer{
  background-image: url(imgs/Bottom\ full.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  }
  .info{
    color: white;
    font-size: 10px;
    font-weight: 200;
    justify-content: space-between;
    padding: 0 1rem;

    & .info div{
      gap: 1rem;
    }
    & ul{
      list-style: none;
      margin: 0;
      padding:0;
      
    }
    & ul li{
      padding: 2px 0;
    }
    & ul li a{
      display: block;
     text-decoration: none;
     color: white;
    }
    & ul li a:hover{
      color: rgb(188, 188, 188);
    }
    & .social-icons{
      display: flex;
      gap: 3px;
    }
    & .social-icons{
      padding: 0;
    }
    & ul a img{
      width: 30px;
    }
  }
  .services,
  .information{
    display: none;
  }
  
  nav h1{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
  }
  .our-services{
    margin-top: 7.5rem;
    text-transform: uppercase;
    background: url(imgs/Service-Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  .first-big-bullet-wrapper{
    position: relative;
    min-width: 230px;
    margin: 0 auto 1rem auto;
  }
  .big-bullet{
    width: 160px;
    height: 55px;
    margin: 0 auto;
    background-color: #185594;
    color: white;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.25);
    & h6{
      font-size: 12px;
      font-weight: 200;
      line-height: 55px;
      margin: 0;
    }
    & span{
      display: none;
    }
    }
    .white-bullets{
      display: none;
    }
  .services-arrows{
       display: flex;
       justify-content: space-between;
       width: 100%;
       position: absolute;
       z-index: 1;
       top:12px;
       & button{
      background-color: white;
      border: none;
      padding: 4px 10px;
      border-radius: 100%;
      box-shadow: 0px 0px 15px 0px rgba(106, 104, 104, 0.25);
    }
    & button i{
      color: rgb(164, 159, 187);
      filter: opacity(0.5);
    } }
    .services-arrows button:hover{
      background-color: #185594;
      color: white;
      & i {
        color: white;
        filter: opacity(1);
      }
      }
      .service-heading{
       margin-bottom: 1rem;
       & h2 {
        font-size: 20px;
       font-weight: 700;
       margin-bottom: 0;
      }
      & span{
        font-size: 10px;
        font-weight: 200;
      } }
      .service-second-heading{
        margin-bottom: 1rem;
        & h3{
         font-size: 16px;
        font-weight: 700;
        }
        & span{
          font-size: 11px;
          font-weight: 500;
        }
       }
       .service-tiles{    
         border: 2px solid rgb(240, 237, 237);
         background-color: white;
         border-radius: 1rem;
         min-height: 90px;
         justify-content: space-between;
         margin-bottom: 8px;
         box-shadow: 0 0 4px 0 rgb(233, 225, 225);
         & h4{
          font-size: 11px;
          font-weight: 700;
          max-width: 150px;
          padding:1rem 0 0 8px;
         }
         & p{
          font-size: 10px;
          font-weight: 500;
          padding: 16px 2px 8px 5px; 
          line-height: 1;
          & span{
            display: none;
          }
        }
        
       }
  
@media (min-width: 576px) {
  .container-fluid {
    max-width: 570px;
  }
  .sm-center {
    justify-content: center;
  }
  .z-index-1 {
    z-index: 1;
  }
  .sm-pos-reltve {
    position: relative;
  }
  .sm-mw-300 {
    max-width: 300px;
  }
  .sm-mw-355 {
    max-width: 355px;
  }
  .sm-mw-370 {
    max-width: 370px;
  }

  .sm-fs-big {
    font-size: 1.9rem;
  }
  .sm-fs-22 {
    font-size: 22px;
  }
  .btn {
    padding: 14px 35px;
    font-size: 13px;
    font-weight: bold;
  }
  .btn-see-more {
    font-weight: 500;
  }
  .tiles-wraper {
    background: url(imgs/Doted-Bars-full.png);
    background-size: 295%;
  }
  .carousel-content{
    & h3{
      font-size: 16px;
    }
    & p{
      font-size: 14px;
    }
  }
  .info{
    font-size: 14px;
    padding: 0 2rem;
    & span{
    line-height: 1.5rem;
    }
    & span a img{
      width: 40px;
    }
 }
 .big-bullet{
  width: 280px;
  height: 80px; 
  & h6{
    font-size: 18px;
    font-weight: 400;
    line-height: 80px;
  }
}
.services-arrows{
  top: 1rem;
  & button {
    padding: 10px 16px;
  }
}
.service-heading{
  & h2 {
   font-size: 20px;
 }
 
}
.service-second-heading{
  & h3{
   font-size: 20px;
  }
  & span{
    font-size: 14px;
  }
 }
 .service-tiles{  
  max-width: 540px;
  min-height: 135px;
  /* margin: 2px auto; */
  box-shadow: 0 0 8px 0 rgb(233, 225, 225);
  & h4{
   font-size: 14px;
   font-weight: 600;
   padding:1rem 0 0 1.5rem;
  }
  & p{
   font-size: 11px;
   /* font-weight: 400; */
   padding: 16px 2px 8px 8px;
   & span{
    display: inline;
   }
 }
 
}
 }
@media (min-width: 768px) {
  .container-fluid {
    max-width: 760px;
  }
  .card-content{  
    & h3{
      padding: 0 0 0 5rem;
      font-size: 16px;
    }
    & h3 span{
      font-size: 14px;
      
    }
    & p{
      padding: 0 5px;
      font-size: 14px;
    }
     & p .expand-content{
      display: inline; 
    }
}
.service-tiles{
  max-width: 695px;
}
.lg-wrap{
  flex-wrap:wrap;
}

}

@media (min-width: 992px) {
  .container-fluid {
    max-width: 992px;
  }
  .lg-solid-backround {
    background: url(imgs/shape\ top\ baR.png);
    background-repeat: none;
    background-size: cover;
  }
  .sm-poster {
    background: url(imgs/Frame\ 6.png);
    background-repeat: round;

    height: 50rem;
  }
  .sm-poster::after {
    content: url(imgs/laptop.png);
    position: absolute;
    top: 0;
    bottom: 1rem;
    right: 0;
  }
  .pt-lg-04 {
    padding-top: 7rem;
  }
  .lg-fs-22 {
    font-size: 22px;
  }
  .lg-fs-30 {
    font-size: 30px;
  }
  .lg-fs-18 {
    font-size: 16px;
    font-weight: 700;
  }
  .lg-mt-7 {
    margin-top: 7rem;
  }
  .lg-mt-2{
    margin-top: 2rem;
  }
  .lg-mb-0{
    margin-bottom: 0px;
  }
  
  .main-logo {
    width: 200px;
  }
  .nav-item {
    padding: 0 1rem;
    font-size: 18px;
    text-transform: capitalize;
  }
  .sm-poster {
    height: 44.6rem;
  }
  .lg-shadow {
    box-shadow: 0 0.25px;
  }

  .heading::before {
    top: 3rem;
  }
  .heading > h2 {
    font-size: 30px;
    font-weight: 600;
  }
  .heading > span {
    font-size: 20px;
    font-weight: 500;
  }
  .text-pair > p {
    font-size: 12px;
  }
  /* util classes */

  .lg-d-flex {
    display: flex;
  }
  /* util classes */
  .headings {
    width: 80%;
    margin: 0 auto;
  }
  .tiles-wraper {
    background: url(imgs/Doted-Bars-full.png);
    background-size: 85% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 0;
  }
  .tiles {
    max-width: 230px;
    margin: 10px 0;
  }
  .tiles-wraper :nth-of-type(2) {
    margin-left: 25%;
  }
  .tiles-wraper :nth-of-type(3) {
    box-sizing: content-box;
    padding-right: 0.5rem;
    margin-left: 34.5%;
    max-width: 260px;
  }
  .tiles-wraper :nth-of-type(4) {
    margin-left: 50%;
  }
  .tiles-wraper :nth-of-type(5) {
    margin-left: 75%;
    margin-bottom: 3rem;
  }
  .technology-heading div label{
    font-size: 20px;
  }
  .technology-heading label::after, .technology-heading label::before{
    top: 1.8rem;
    width: 100px;
    height: 8px;
    width: 100%;
    }

    .icons { 
      margin-top: 12px;
      & img{
        width: 100px;
      }
     & h4{
      font-size: 20px;
      margin: 2rem 0;
    }
  }
  .carousel-content{
    max-width: 580px;
    margin: 2rem 2rem;
    & h3{
      font-size: 18px;
      margin-bottom: 1.5rem;
    }
    & p{
      font-size: 16px;
      font-weight: 200;
    }
  }
  .card-content{  
    justify-content: center;
    gap: 5rem;
    & h3{
      padding: 0 0 0 3rem;
      font-size: 16px;
      width: 30%;
    }
    & h3 span{
      font-size: 14px;
      
    }
    & p{
      align-content: end;
      width: 40%;
  
    }
    & p span{
      display: inline;
    }
}
.info{
  flex-direction: column;
  gap: 1rem;
  padding-right: 0;
  & ul li{
  padding: 4px 0;
  
  }
  & li a img{
    width: 40px;
  }
}
.services, .information{
  
  display: block;
  color: white;
  /* margin-left: 1rem; */
  & h3{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1rem;
}
& ul {
  list-style: none;
  padding-left: 0;
    margin-bottom: 0;
}
& ul li{
  padding:4px 0;
}
  & ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
  }
  & ul li a:hover{
    color: rgb(188, 188, 188);
  }
}
.footer-wrapper{
  justify-content: space-between;
  margin: 2rem 0 0 3rem;
}
nav h1{
  font-size: 28px;
}
.our-services{
  margin-top: 9rem;
}
.big-bullet{
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.25);
  text-align: start;
  width: 300px;
  height: 85px;
  cursor: pointer;
  margin: 0;
  & h6{
    font-size: 16px;
    font-weight: 400;
    line-height: unset;
    padding: 1rem 0 0 1.8rem;
    }
    & span{
      display: inline-block;
      font-size: 10px;
      font-weight: 200;
      padding-left: 1.8rem;
    }
    & span i{
      margin-left: 4px;
    }
}
.white-bullets{
  display: block;
background-color: white;
color: black;
margin-bottom: 1rem;
& h6{
  font-weight: 500;
}
& span{
  color: #2743d9;
  font-weight: 500;
}
}
.white-bullets:hover{
  background-color: #185594;
  color: white;
  transition: all .5s ease;
  & span{
    color: white;
  }
}

.services-arrows{
  display: none;
}
.material-wrapper{
  padding-left: 4rem;
  max-width: 750px;
}
.service-heading{
  & h2{
    font-size: 28px;
  }
  & span{
    font-size: 12px;
  }
}

}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: unset;
  }
  .px-xl-6 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
  }
  .xl-fs-40 {
    font-size: 40px;
    font-weight: 500;
  }
  .xl-fs-30 {
    font-size: 30px;
  }
  .xl-fs-20 {
    font-size: 20px;
    font-weight: 200;
  }
  .xl-mw-450 {
    max-width: 450px;
  }
  .xl-mw-530 {
    max-width: 530px;
  }
  .xl-mt-3 {
    margin-top: 3rem;
  }
  .btn {
    padding: 1rem 2.2rem;
  }
  .tiles {
    max-width: 280px;
  }
  .tiles-wraper :nth-of-type(1) {
    margin-left: 2.5%;
   }
  .tiles-wraper :nth-of-type(2) {
    margin-left: 24.3%;
  }
  .tiles-wraper :nth-of-type(3) {
    margin-left: 36%;
    max-width: 340px;
  }
  .tiles-wraper :nth-of-type(4) {
    margin-left: 57%;
  }
  .tiles-wraper :nth-of-type(5) {
    margin-left: 79%;
  }
  .carousel-content{
    max-width: 680px;
    & h3{
      font-size: 20px;     
    }
    & p{
      font-size: 18px;
    }
  }
  .card-content{  
    padding-top: 2rem;
    & h3{
      font-size: 18px;
      padding-right: 3rem;
    }
    & h3 span{
      font-size: 16px;
      }
    & p{
      line-height: 1.3;
      font-size: 16px;
  }
}
.qoute{
  bottom: -1.6rem;
   width: 60px;
   right: 5rem;
}
.card-btns{
  justify-content: space-between;
  padding: 0 2rem;
  top: 5rem;
  & span{
     width: 40px;
  }
}
.info{
 font-size: 16px;


}
.services,
.information{
  & h3{
    font-size: 18px;
  }
  & ul li a{
    font-size: 16px;
  }
}
.our-services{
  margin-top: 11rem;
}
nav h1{
  font-size: 35px ;
  margin-top: 1rem;
}


.service-heading{
  & h2{
    font-size: 30px;
  }
  & span{
    font-size: 14px;
  }
}
.service-second-heading{
 & h3{
  font-size: 25px;
  margin-bottom: 1rem;
 }
 & span{
  font-size: 14px;
  margin-bottom: 1.5rem;
 }
}
.service-tiles{
  max-width: 740px;
  min-height: 135px;
  margin-bottom: 1rem;

& h4{
  font-size: 16px;
}
& p{
  font-size: 13px;
}
}      
.material-wrapper{
  padding-left: 4rem;
  margin-bottom: 1rem;
}      
}
@media (min-width: 1400px){
  .servicess-container{
    justify-content: space-between;
    padding-right: 9rem;
  }
.big-bullet{
  width: 345px;
  height: 98px;
  margin-bottom: 1.2rem;
  & h6{
    padding: 1.5rem 0 0 2rem;
  }
  & span{
    padding-left: 2rem;
  }
}
}