* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: inter;
  font-weight: 400;
}
/* utility classes starts from here */
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-ExtraLight.ttf);
  font-weight: 100;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-Thin.ttf);
  font-weight: 300;
}

@font-face {
  font-family: inter;
  src: url(Fonts/Inter-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: inter;
  src: url(Fonts/Inter-ExtraBold.ttf);
  font-weight: 800;
}

.fw-200 {
  font-weight: 200;
}
.blue-background {
  background: url(imgs/Gradient.png);
  background-repeat: round;
}
.hero-poster-mobile {
  background: url(imgs/Frame\ 5.png);
  /* background-repeat: round; */
  background-size: cover;
  background-position: bottom;
}
.gap-6 {
  gap: 2.75rem;
}
.mw-260 {
  max-width: 261px;
}
.mw-300 {
  max-width: 300px;
}
.mw-500 {
  max-width: 500px;
}
.fs-14 {
  font-size: 14px;
}
.fsw-14 {
  font-size: 14px;
  font-weight: 700;
}
.fs-20 {
  font-size: 1.5rem;
  font-weight: 600;
}
.fs-18 {
  font-size: 20px;
}
.py-05 {
  padding-top: 6rem;
  padding-bottom: 10rem;
}
.align-center {
  align-items: center;
}
/* .hero-section{
  position: absolute;
} */
/* Utility Classes Ends Here */
.main-logo {
  width: 160px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-item {
  padding: 4px 0;
}
.btn {
  /* width: 115px; */
  /* height: 37px; */
  padding: 0.9rem 1.5rem;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 20px 0px #036;
}
/* .blue-bar {
  height: 10px;
  width: 60px;
  background-color: #185594;
  border-radius: 1rem;
} */
.heading{
  position: relative;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}
.heading::before{
  content: "";
  position: absolute;
  top: 2.4rem;
  height: 10px;
  width: 60px;
  background-color: #185594;
  border-radius: 1rem;
}
.heading > h2 {
  font-size: 20px;
  font-weight: 600;
}
.heading > span {
  font-size: 16px;
  font-weight: 500;
}
.sec1-icon {
  width: 60px;
  height: 59px;
}
.text-pair > p {
  font-size: 10px;
  font-weight: 500;
  color: #2743d9;
}
.btn-see-more {
  box-shadow: 0px 0px 5px 0px #036;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  color: #2743d9;
  text-transform: uppercase;
}
.btn-see-more:hover {
  background-color: #036;
  border: none;
  color: white;
}

@media (min-width: 576px) {
  .container-fluid {
    max-width: 570px;
  }
  /* .hero-poster-mobile {
    background: none;
  } */
  /* .hero-poster-mobile {
    background: url(imgs/Frame\ 5.png);
    
    background-size: cover;
  } */

  /* .sm-poster::after {
    content: url(imgs/laptop.png);
    position: absolute;
    top: 0;
    bottom: 1rem;
    right: 0;
    opacity: 0.4;
  } */
  .sm-center {
    justify-content: center;
  }
  .z-index-1 {
    z-index: 1;
  }
  .positn-reltve {
    position: relative;
  }
  .sm-mw-300 {
    max-width: 300px;
  }
  .sm-mw-355 {
    max-width: 355px;
  }
  .sm-mw-370 {
    max-width: 370px;
  }

  .sm-fs-big {
    font-size: 1.9rem;
  }
  .sm-fs-22 {
    font-size: 22px;
  }
  .btn {
    padding: 14px 35px;
    font-size: 13px;
    font-weight: bold;
  }
  .btn-see-more {
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    max-width: 760px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    max-width: 992px;
  }
  .lg-solid-backround {
    background: url(imgs/shape\ top\ baR.png);
    background-repeat: none;
    background-size: cover;
  }
  .sm-poster {
    /* position: relative;x */
    background: url(imgs/Frame\ 6.png);
    background-repeat: round;
    /* height: 82vh; */
    height: 50rem;
  }
  .sm-poster::after {
    content: url(imgs/laptop.png);
    position: absolute;
    top: 0;
    bottom: 1rem;
    right: 0;
    /* opacity: 0.4;  */
  }
  .pt-lg-04 {
    padding-top: 7rem;
  }
  .lg-fs-22 {
    font-size: 22px;
  }
  .lg-fs-30 {
    font-size: 30px;
  }
  .lg-fs-18 {
    font-size: 16px;
    font-weight: 700;
  }
  .lg-mt-7 {
    margin-top: 7rem;
  }
  .main-logo {
    width: 200px;
  }
  .nav-item {
    padding: 0 1rem;
    font-size: 18px;
    text-transform: capitalize;
  }
  .sm-poster {
    height: 44.6rem;
  }
  .lg-shadow {
    box-shadow: 0 0.25px;
  }
  .heading{
    max-width: 300px;
  }
  .heading::before{
    top: 3rem;
    /* right: auto; */
    /* left: auto; */
  }
  .heading > h2 {
    font-size: 30px;
    font-weight: 600;
  }
  .heading > span {
    font-size: 20px;
    font-weight: 500;
  }
  .text-pair > p {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    max-width: unset;
  }
  .px-xl-6 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
  }
  .xl-fs-40 {
    font-size: 40px;
    font-weight: 500;
  }
  .xl-fs-30 {
    font-size: 30px;
  }
  .xl-fs-20 {
    font-size: 20px;
    font-weight: 200;
  }
  .xl-mw-450 {
    max-width: 450px;
  }
  .xl-mw-530 {
    max-width: 530px;
  }
  .xl-mt-3 {
    margin-top: 3rem;
  }
  .btn {
    padding: 1rem 2.2rem;
  }
}
